body {

background-color: #e2e2e2;
font-family: Arial;

}

.filetext {

  background-color: white;
  width: 10%;
  padding: 5px;
  margin: 4px 0;
  border: 1px solid #8e0000;
  border-radius: 4px;
  box-sizing: border-box;

}

#backtomessage {



}

#receiver {
  background-color: white;
  width: 10%;
  padding: 5px;
  margin: 4px 0;
  border: 1px solid #8e0000;
  border-radius: 4px;
  box-sizing: border-box;
}

#subject {
  background-color: white;
  width: 10%;
  padding: 5px;
  margin: 4px 0;
  border: 1px solid #8e0000;
  border-radius: 4px;
  box-sizing: border-box;
}

#infile::file-selector-button {
  padding: 5px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  background-color: #8e0000;
  font-size: px;
  color: white;
}

#infile::file-selector-button:hover {
  background-color: #7e0000;
  color: #f4f4f4;
}

#send {
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  width: 20%;
  background-color: #8e0000;
  font-size: px;
  color: white;
}

#send:hover {
  background-color: #7e0000;
  color: #f4f4f4;
}

#save {
  position: absolute;
  right: 20px;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  width: 100px;
  background-color: #8e0000;
  font-size: px;
  color: white;
}

#save:hover {
  background-color: #7e0000;
  color: #f4f4f4;
}