h1 {
  font-family: Arial;
  position: fixed;
  padding: 0px;
  margin: 0px;
  top: 20px;
  left: 0;
  right: 0;
  border-bottom-style: solid;
  border-padding: 5px;
  text-align: center;
  background: white;
  font-size: 25px;
  color: #8e0000;
  border-style: solid;
  border-color: #8e0000;
  padding: 30px;
}

body {
    background-image: url(https://www.jhharchitects.com//images/work/McCool-Pan_1200x800.jpg);
    height: 100%
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: arial;
}

.login {
    margin: 0 auto;
    height: 400px;
    width: 400px;
    margin: 300px auto 0;
    border-style: solid;
    border-color: #8e0000;
    text-align: center;
    font-family: arial;
    background: white;
}

#email {
  background-color: #f1f1f1;
  width: 90%;
  padding: 15px;
  margin: 8px 0;
  border: 1px solid #8e0000;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: arial;
}

#password {
  background-color: #f1f1f1;
  width: 90%;
  padding: 15px;
  margin: 8px 0;
  border: 1px solid #8e0000;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: arial;
}

#submit {
padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  width: 90%;
  background-color: #8e0000;
  color: white;
  font-family: arial;
}

#submit:hover {
  background-color: #7e0000;
  color: #f4f4f4;
}