#body {
  text-align: left;
  background: white;
  padding: 30px 30px;
  position: relative;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  font-family: arial;
}

#date {
  position: absolute;
  font-weight: bold;
  font-family: arial;
  right: 5%;

}

#subject {
font-family: arial;
  border-bottom: 3px solid black;
}

#backtoinbox {
  padding: 5px;
  margin: 0px 0;
  border: none;
  border-radius: 4px;
  background-color: #8e0000;
  font-size: px;
  font-family: Arial;
  color: white;
}

body {

  background-color: #e2e2e2;
  font-family: arial;

}