{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}
<!-- TODO: TODO: Add nice layout for the composition page -->
<h1>Compose an email</h1>
<form action="#" method="post">
  <!-- Using the input and text area to get the user's input via the browser -->
  <p><input type="text" placeholder="To: " name="receiver" required/></p>
  <p><input type="text" placeholder="Subject: " name="subject"/></p>
  <p><textarea name=emailbody rows="40" cols="200" placeholder="Email body: "></textarea></p>
  <p><input type="submit" name="Send message"/></p>
</form>
{% endblock %}