{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}
<!-- TODO: Add nice layout for the inbox page -->
<h1>Inbox</h1>
{% if error %}
<p><strong>Error: </strong>{{ error }}</p>
{% endif %}
<form action="#" method="post">
  <!-- Even though the input check for "valid email address",
    the email address needs to be validated on the server side -->
  <a href="/compose">Compose an email </a>
  <p><a href="/logout">Logout</a></p>
</form>

<!-- Inbox messages -->
{% for i in range(messages|length) %}
<article>
  <h2><a href="{{ url_for('inbox_message', uid=uids[i], inbox_page=number) }}">{{ messages[i].subject }}</a></h2>
  <p>{{ messages[i].date }}</p>
  <p>{{ messages[i].from_[0][0] }} - {{ messages[i].from_[0][1] }}</p>
</article>
{% endfor %}

<!-- See next or previous messages -->
{% if number != 0 %}
<a href="{{ url_for('inbox', number=number-1) }}">Previous</a>
{% endif %}

{% if uid_number - 5 > 0 %}
<a href="{{ url_for('inbox', number=number+1)}}">Next</a>
{% endif %}
{% endblock %}