<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/base.css') }}">
</head>

    <div class="toolbar">
  <a onclick="window.location.href='/inbox/'">Inbox</a>
  <a onclick="window.location.href='/compose/'">Compose</a>
  <a onclick="window.location.href='/drafts/'">Drafts</a>
  <a onclick="window.location.href='/auth/logout/'">Logout</a>
</div>

    {% block head %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>