{% extends "base.html" %}
{% block head %}
<script src="{{ url_for('static', filename='js/draft_message.js' )}}"></script>
{% endblock %}
{% block title %}{{ subject }}{% endblock %}
{% block content %}

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/composition.css') }}">

<main>
  <h1 hidden id="sub" uid="{{ uid }}"> </h1>

  <br> <br> <br>
<form action="/compose/" method="post" enctype=multipart/form-data>
  <!-- Using the input and text area to get the user's input via the browser -->
  <p><input type="text" placeholder="To: " name="receiver" id="receiver" required/></p>
  <p><input type="text" placeholder="Subject: " name="subject" id="subject"/>

  <!-- Using the Tiny MCE UI to improve the email composition -->
  <script src="https://cdn.tiny.cloud/1/vr2x3cxjja3hokctzkzvlvxa1ex2uerrs733r5889trcniq3/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

  <script>
 tinymce.init({
  selector: 'textarea',  // change this value according to your HTML
  menubar: 'edit view format'
});
</script>

  <p><textarea name=emailbody rows="35" cols="100" id="body"></textarea></p>

  <p><input type="submit" value="Save draft" name="Send message" id="save" formaction="/drafts/save"/></p>

  <div class="filetext">
  <label for="infile">Attach a file:</label>
  <input type="file" name="infile" id="infile" multiple="">
    </div>

  <p><input type="submit" value="Send" name="Send message" id="send"/></p>
    </form>

</main>
{% endblock %}