{% extends "base.html" %}
{% block head %}
<script src="{{ url_for('static', filename='js/inbox.js') }}"></script>
{% endblock %}
{% block title %}Inbox Page{% endblock %}
{% block content %}
<!-- TODO: Add nice layout for the inbox page -->
<body>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/inbox.css') }}">
{% if error %}
<p><strong>Error: </strong>{{ error }}</p>
{% endif %}
</body>
<!-- Inbox messages -->
<br> <br> <br> <br>


<img class="banner" src="https://media.glassdoor.com/l/c9/08/59/eb/newest-completed-education-hall-on-mississippi-state-university-s-campus.jpg">


<h3>Welcome to the inbox</h3>

<main>
</main>
<body>

<a href="#" id="loadMoreMessages">Load more messages</a>
<form>
 <p><input type="text" placeholder="Search mail" id="search" />
  <button class="button">Search </button></p>
</form>
<p id="loadAlert"></p>
</body>
{% endblock %}