{% extends "base.html" %}
{% block head %}
<script src="{{ url_for('static', filename='js/message.js' )}}"></script>
{% endblock %}
{% block title %}{{ subject }}{% endblock %}
{% block content %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/message.css') }}">

<br> <br> <br>
<p><a href="{{ url_for('.forward', uid=uid) }}">Forward</a></p>
<p><a href="{{ url_for('.delete', uid=uid) }}">Delete</a></p>
<p id="infoAlert">Loading message...</p>
<main>
  <h1 id="subject" uid="{{ uid }}"></h1>
  <a id="date">Date: </a>
  <p id="from">From: </p>
  <p id="to">To: </p>
  <p id="body"></p>
  <section id="attachments">
  <p>Attachments:</p>
  <ul></ul>
  </section>
</main>
{% endblock %}